.btn {
  @apply rounded-md;
}

.btn-primary {
  @apply text-base-100;
}

.text-heading {
  @apply font-extrabold text-4xl uppercase mb-5;
}

.page-layout {
  @apply p-5 pl-3 pt-16 lg:p-5 w-full;
}

html {
  scroll-behavior: smooth !important;
}
.whyus {
  background-image: url("../public/images/h9.jpg");
}

.ownerImg {
  /* position: absolute;
  right: 1.2em;
  bottom: -24.3em;
  width: 273px;
  height: 406px;
  background-repeat: no-repeat; */
  background-image: url("../public/images/ronak.png");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
