.btn {
  @apply rounded-md;
}

.btn-primary {
  @apply text-base-100;
}

.text-heading {
  @apply font-extrabold text-4xl uppercase mb-5;
}

.texture {
  /* background-color: #ffffff; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2317429f' fill-opacity='0.45' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.whyus {
  background-image: url("../public/images/h9.jpg");
}

.ownerImg {
  /* position: absolute;
  right: 1.2em;
  bottom: -24.3em;
  width: 273px;
  height: 406px;
  background-repeat: no-repeat; */
  background-image: url("../public/images/ronak.png");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
