@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-md;
}

.btn-primary {
  @apply text-base-100;
}

.text-heading {
  @apply font-extrabold text-4xl uppercase mb-5;
}

.page-layout {
  @apply p-5 pt-0 lg:pt-14 lg:p-5 w-full;
}

.hero-circle {
  @apply after:bg-circle after:absolute after:lg:w-40 after:lg:h-40 after:-z-10 after:bg-cover after:bg-center after:bg-no-repeat after:top-52 after:2xl:top-44 after:2xl:left-[75%] after:xl:left-[85%] after:lg:left-[85%] after:lg:top-52 after:left-[70%] after:w-10;
}

.whyus-triangle {
  @apply mt-24 z-20 lg:mt-0 after:bg-triangle after:absolute after:w-28 after:h-28 
  after:top-[105%] after:right-5 after:lg:top-[85%] after:z-10 after:lg:left-5 after:lg:scale-x-[-1] after:scale-y-[-1]  after:bg-no-repeat after:bg-center after:bg-cover;
}

.hero-zigzag {
  @apply after:hidden after:lg:block after:absolute after:bg-zigzag after:top-[60%] after:left-[55%] after:w-24 after:h-6 after:bg-cover after:bg-no-repeat after:bg-center
  before:hidden before:lg:block before:absolute before:bg-zigzag before:top-[63%] before:left-[55%] before:w-24 before:h-6 before:bg-cover before:bg-no-repeat before:bg-center;
}
.polkadots2 {
  @apply after:bg-polkadots2 after:absolute after:w-20 after:h-10
  after:top-[60%] after:right-0 after:lg:top-[55%] after:z-10 after:rotate-90 after:lg:right-5 after:bg-no-repeat after:bg-left-bottom after:bg-cover;
}

.underline {
  @apply bg-accent h-1;
}

.debug {
  @apply xs:bg-rose-900 sm:bg-orange-500 md:bg-cyan-400 lg:bg-red-500 xl:bg-blue-500 2xl:bg-gray-500 3xl:bg-indigo-700;
}

html {
  scroll-behavior: smooth !important;
}

* {
  @apply transition-all duration-1000;
}

.whyus {
  background-image: url("../public/images/h9.jpg");
}

.ownerImg {
  background-image: url("../public/images/ronak.png");
}
